@use 'var';

.timer{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    box-shadow: 10px 10px 0px 0px #222a;
    background-color: #2226;
    outline: 4px solid transparent;
    color: var.$font-color;
    transition: 0.2s;

    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(20px);

/*         &:after{
        content: '';
        position: absolute;
        top: calc(90% + 20px);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var.$primary-color;
        box-shadow: 0 0 5px 5px #0004;

        animation: 1s ease-in rotar infinite;
        transform-origin: 10px 10px 0;
    } */

    &:before {
        content: '';
        position: absolute;
        width: 90%;
        height: 90%;
        border-radius: 50%;
        background-color: transparent;
        border: 10px solid var.$background;
        box-shadow: 0px 0px 10px 5px #0004;
   }

    .counter{
        font-size: 10vh;
        text-shadow: (0px 0px 20px black)
    }

    .text{
        font-size: 5vh;
    }

    &:hover{
        outline: 2px solid var.$primary-color;
        transition: 0.2s;
    }
}