$background: #333;
$background-2: #666;
$background-hover: white;
$font-color: white;
$primary-color: #ff9900;

/* $background: white;
$background-2: #ccc;
$background-hover: #444;
$font-color: #444;
$primary-color: #ff9900; */

$font: 'Open Sans', sans-serif;